/* custom most used styles */

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direct-col {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */

.header {
  background-color: var(--color-darkerGreen);
  padding: 1.5rem 2rem;
  color: var(--color-white);
  font-size: 1.3rem;
}

.header__logo {
  width: 10rem;
  height: 7.8rem;
}

.header__logo-img > img {
  object-fit: contain;
}

.navbar__menu {
  gap: 0 3rem;
  text-transform: capitalize;
}

.navbar__menu,
.navbar__right {
  align-self: center;
}

.navbar__menu > li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.navbar__menu > li > a,
.navbar__menu > li > div > a,
.navbar__menu > li {
  position: relative;
}

.navbar__menu > li > a::after,
.navbar__menu > li > div > a::after {
  content: "";
  height: 0.2rem;
  width: 100%;
  position: absolute;
  background-color: var(--color-yellow);
  top: 100%;
  left: 100%;
  opacity: 0;
  transition: 0.4s all ease;
}

.navbar__menu > li:last-child {
  display: none;
  width: auto;
}

.navbar__menu > li:last-child > ul {
  display: flex;
  justify-content: space-between;
  position: static;
  min-width: 25.7rem;
  padding: 0.5rem 1.5rem;
  opacity: 1;
  visibility: visible;
  background-color: initial;
  border-radius: 1rem;
  transition: none;
}

.navbar__menu > li:last-child > ul > li {
  margin-inline: 0.5rem;
  padding: 0;
  padding-inline: 0.5rem;
  position: relative;
}

.navbar__menu > li:last-child > ul > li.active::after {
  content: "";
  position: absolute;
  top: 118%;
  left: 0;
  background-color: var(--color-yellow);
  width: 100%;
  height: 0.2rem;
}

.navbar__menu > li > a:hover:after,
.navbar__menu > li > div > a:hover:after {
  left: 0;
  opacity: 1;
}

.caret {
  font-size: 0.9rem;
  color: var(--color-yellow);
}

.navbar__right {
  gap: 0 2.4rem;
}

.navbar__right > li:first-child {
  gap: 2rem;
}

.navbar__right > li:last-child {
  position: relative;
}

.navbar__menu > li > ul,
.header__lang {
  webkit-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
    visibility 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
    visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
    visibility 0.2s ease-in-out;
  z-index: 3;
  position: absolute;
  top: 100%;
  left: -30px;
  min-width: 200px;
  margin-top: 20px;
  padding: 3rem;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-darkerGreen);
}

.header__lang {
  left: -1rem;
  padding: 1.5rem;
  min-width: 2rem;
}

.header__lang > li.active {
  position: relative;
}

.header__lang > li.active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-yellow);
  height: 0.2rem;
  width: 100%;
}

.navbar__menu > li:hover > ul,
.navbar__right > li:last-child:hover .header__lang {
  top: 130%;
  left: -30px;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

.navbar__right > li:last-child:hover .header__lang {
  left: -1rem;
}

/* hamburger icon start */

.hamburger__icon {
  display: none;
  align-self: center;
  width: 2rem;
  height: 1.6rem;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger__icon span {
  display: block;
  position: absolute;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-white);
  /* border-radius: 9px; */
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger__icon span:nth-child(1) {
  top: 0px;
}

.hamburger__icon span:nth-child(2) {
  top: 8px;
}

.hamburger__icon span:nth-child(3) {
  top: 16px;
}

.hamburger__icon.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger__icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger__icon.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* hamburger icon end */

.navbar__menu.isActive,
.header__logo.isActive,
.navbar__right.isActive {
  display: none;
}

.search__form {
  width: 100%;
  height: 48px;
  border: 1px solid #e4e8ee;
  border-radius: 4px;
  position: relative;
  display: none;
}

.search__form.isActive {
  display: flex;
}

/* .search__form.active + .navbar__menu,
.search__form.active + .header__logo,
.search__form.active + .navbar__right {
  display: none !important;
} */

.search__form button {
  width: 5.6rem;
  height: 100%;
}

.search__input {
  flex-basis: 90%;
  height: 100%;
  background-color: transparent;
}

.search__close {
  color: var(--color-white);
}

.search__btn,
.search__close {
  font-size: 2rem;
  color: var(--color-white);
}

/*  C A R D   B O X  */
.cardBox {
  width: min(100%, 38rem);
  height: 26rem;
  /* padding-bottom: 10.5rem; */
  position: relative;
}
.cardBox__img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.cardBox__img img {
  transition: 400ms ease-in-out;
}
.cardBox:hover .cardBox__img img {
  transform: scale(1.2);
}
.cardBox__content--backg {
  width: 100%;
  position: absolute;
  top: calc(100% - 6rem);
  left: 0;
  display: flex;
  justify-content: center;
  transition: 400ms;
}
.cardBox:hover .cardBox__content--backg {
  top: calc(100% - 9rem);
}
.cardBox__content {
  width: min(90%, 32rem);
  /* height: 22rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  background-color: var(--color-white);
  border: 1px solid #000000;
  border-radius: 0.5rem;
  padding: 2.4rem 1.4rem 1.4rem;
}
/* .cardBox__text{

} */
.cardBox__title {
  color: var(--color-darkGray);
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
.cardBox__desc {
  color: var(--color-darkGray);
  font-size: 1.4rem;
  font-variant: small-caps;
  margin-top: 2.5rem;
}
.cardBox__desc:empty {
  margin-top: 0;
}

.cardBox__btn {
  width: min(100%, 16rem);
  height: 4rem;
  color: #4f4a37;
  border: 2px solid var(--color-yellow);
  border-radius: 0.5rem;
  transition: 400ms;
}
.cardBox__btn:hover {
  background-color: var(--color-yellow);
}

@media only screen and (max-width: 992px) {
  .header {
    position: relative;
  }

  .navbar__menu,
  .navbar__right > li:last-child {
    display: none;
  }

  .navbar__menu {
    font-size: 2rem;
    align-items: flex-end;
    text-align: left;
    font-size: 2rem;
    flex-direction: column;
    gap: 3.5rem;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    right: 0;
    background-color: var(--color-darkerGreen);
    padding: 2rem 5rem;
  }

  .navbar__menu.isActive {
    display: flex;
  }

  .navbar__menu > li {
    width: 31.4rem;
    display: flex;
    flex-direction: column;
  }

  .navbar__menu > li > ul {
    padding-left: 2rem;
    border-top: 1.5rem solid transparent;
    margin-top: 0;
    padding: 0;
    margin-left: 1.5rem;
    /* webkit-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
      visibility 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
      visibility 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
      visibility 0.2s ease-in-out; */
    z-index: 3;
    height: 0;
    overflow: hidden;
    position: static;
    display: block;
    visibility: visible;
    opacity: 1;
    background-color: var(--color-darkerGreen);
  }

  .navbar__menu > li > ul.opened {
    height: max-content;
  }

  .navbar__menu > li:last-child {
    display: block;
  }

  .navbar__menu > li:last-child > ul {
    border: 0.1rem solid var(--color-white);
    height: initial;
  }

  .navbar__menu > li > a {
    white-space: normal;
    vertical-align: middle;
  }

  .hamburger__icon {
    display: block;
  }
}
