.product__top {
  margin-top: 7rem;
  align-items: start;
  gap: 3rem;
  flex-wrap: wrap;
}

.product__select {
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1.15;
  outline: 1px solid #33647e;
  border-radius: 5px;
  padding: 1.5rem;
  max-width: 28.8rem;
  width: 100%;
  background-color: #f5d763;
}

.product__wrapper {
  margin-top: 5.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(23rem, 100%), 1fr));
  column-gap: 4.5rem;
  row-gap: 3rem;
  place-content: center;
}

.product__wrapper-card {
  background: var(--color-white);
  box-shadow: 0px 1.6rem 4rem rgb(112 144 176 / 15%);
  border: 1px solid #000000;
  --border-radius: 0.2rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.product__wrapper-card-img {
  max-width: 33.5rem;
  width: 100%;
  height: 19.5rem;
  position: relative;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.product__cart-detail {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.product__cart-detail h4 {
  font-size: 2rem;
  color: var(--color-grey);
  margin-bottom: 2rem;
  font-weight: 600;
}

.product__cart-desc {
  margin-bottom: 2rem;
  font-weight: 400;
  color: var(--color-gray);
}

.product__more {
  font-weight: 700;
  color: var(--color-brown);
}

/* pagination */

.pagination {
  font-size: 0;
  margin-top: 5rem;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination ul {
  gap: 2rem;
}

.pagination li {
  transition: 0.4s all ease-in;
  height: 3.5rem;
  width: 3.5rem;
}

.pagination li a {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 1.4rem;
  letter-spacing: 0;
  color: var(--color-dark);
  text-decoration: none;
  padding: 5px 10px;
  opacity: 0.5;
}

.pagination li:hover {
  border-bottom: 0.1rem solid rgb(16, 24, 32, 0.6);
  border-top: 0.1rem solid rgb(16, 24, 32, 0.1);
  border-left: 0.1rem solid rgb(16, 24, 32, 0.1);
  border-right: 0.1rem solid rgb(16, 24, 32, 0.1);
}

.pagination li:hover a {
  color: #b4b4b4;
}

.pagination li.active {
  border: none;
  background-color: #b4b4b4;
}

.pagination li.active a {
  color: var(--color-white);
  opacity: 1;
}
